@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  height: 100vh;
}
button:focus {
  outline: none;
}

.debug{
  @apply border-2 border-red-500 
}